<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td align="center" bgcolor="{{ module.background_color.color }}" style="background-color:{{ module.background_color.color }};padding:{{ module.padding }}px;text-align:center;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin:0 auto 16px auto;">
        <tr>
          {% for social in module.social_links %}
          {% if social.icon.src %}
          <td style="padding:0 8px;"><a href="{{ social.link.href|escape_url }}" target="_blank"><img src="{{ social.icon.src|escape_url }}" width="{{ social.width }}" alt="{{ social.icon.alt|escape_attr }}" style="display:block;width:{{ social.width }}px;height:auto;border:0;" /></a></td>
          {% endif %}
          {% endfor %}
        </tr>
      </table>
      {% if module.custom_line_1 %}<p style="margin:0 0 16px 0;font-family:'Assistant',Arial,sans-serif;font-size:13px;line-height:17px;font-weight:600;color:#4B4B4B;">{{ module.custom_line_1 }}</p>{% endif %}
      {% if module.custom_line_2 %}<p style="margin:0 0 16px 0;font-family:'Assistant',Arial,sans-serif;font-size:13px;line-height:17px;font-weight:600;color:#4B4B4B;">{{ module.custom_line_2 }}</p>{% endif %}
      <p style="margin:0;font-family:Geneva,Verdana,Arial,Helvetica,sans-serif;font-size:12px;line-height:1.34em;color:#4B4B4B;">
        {{ site_settings.company_name }}
        {{ site_settings.company_street_address_1 }}
        {{ site_settings.company_street_address_2 }}
        {{ site_settings.company_city }},
        {{ site_settings.company_state }}
        {{ site_settings.company_zip }}
        {{ site_settings.company_country }}
        <br/><br/>
        You received this email because you are subscribed to {{ subscription_name }} from {{ site_settings.company_name }}.
        <br/><br/>
        Update your <a class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link }}" style="text-decoration:underline;color:#4B4B4B;" target="_blank">email preferences</a> to choose the types of emails you receive.
        <br/><br/>
        <a class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link_all }}" style="text-decoration:underline;color:#4B4B4B;" target="_blank">Unsubscribe from all future emails</a>
      </p>
    </td>
  </tr>
</table>
